<% if params[:page].to_i > 1 %>
<a href="?page=<%= @prev_page %>">Prev Page</a>
<% end %>
<% if params[:page].nil? || params[:page].to_i <= (@contacts_all.length / @limit) %>
<a href="?page=<%= @next_page %>">Next Page</a>
<% end %>

<h1>Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li><a href="/contacts/<%= contact.id %>"><%= contact.name %></a></li>
  <% end %>
</ul>

<form action="/" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />

    <input type="submit" value="Search" /><br>

</form>
