<% if params[:page].to_i > 1 && params[:query].nil? %>
<a href="?page=<%= @prev_page %>">Prev Page</a>
<% end %>
<% if (params[:page].nil? || params[:page].to_i <= (@contacts_all.length / @limit)) && params[:query].nil? %>
<a href="?page=<%= @next_page %>">Next Page</a>
<% end %>
<% if params[:query] %>
<a href="/">Contacts</a>
<% end %>

<h1>Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li><a href="/contacts/<%= contact.id %>"><%= contact.name %></a></li>
  <% end %>
</ul>

<form action="/" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />

    <input type="submit" value="Search" /><br><br>

<div id="add_contact">Add contact</div><br>
     <form id="contact" action="/contacts" method="post">

     First Name: <input type="text" name="first_name" size="30" required/><br>
     Last Name: <input type="text" name="last_name" size="30" required/><br><br>
     Phone Number: <input type="text" name="phone_number" size="30" required/><br><br>
     <input type="submit" value="add contact">
    </form>


</form>
